<div class="student-container">
    <!-- <div class="sidebar">
      <p-panel header="Filters">
        <div class="filters"> -->
          <!-- Add your filters here, e.g., class, section -->
          <!-- <p-dropdown [options]="classes" placeholder="Select Class"></p-dropdown>
          <p-dropdown [options]="sections" placeholder="Select Section"></p-dropdown> -->
          <!-- Add more filters as needed -->
        <!-- </div>
      </p-panel>
    </div> -->
  
    <div class="student-list-view">
      <app-student-list-view [i_Students]="students"></app-student-list-view>
    </div>
  </div>
  
