:host {
  display: block;
  flex-grow: 1;
  padding: 1rem; /* Reduced padding */
  background-color: #F9F9F9;
  border-radius: 4px; /* Smaller border radius */
  margin: 0.5rem 1rem; /* Reduced margin */
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Smaller box shadow */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Reduced gap */
}
