/* app-main-header.component.scss */


.app-main-header {
  display: flex; /* Applies Flexbox layout to the component */
  justify-content: space-between; /* Distributes child elements (logo and nav) to the extremes */
  align-items: center; /* Vertically centers child elements */
  background-color: #042940; /* Sets a background color for the header */
  color: #ffffff; /* Sets text color for all text inside the header */
  padding: 0.5rem 1rem; /* Adds padding inside the header for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for visual depth */
  font-size: 1rem; /* Sets the font size for text inside the header */
}


.logo {
  display: flex;
  align-items: center;
  font-weight: 600; /* Slightly bolder font weight */
}

.logo img {
  height: 30px; /* Smaller logo image */
  margin-right: 0.5rem; /* Reduced space between image and text */
}

.logo span {
  font-size: 0.875rem; /* Smaller font size for the logo text */
}

.navigation {
  display: flex;
  gap: 1rem; /* Reduced gap between navigation links */
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500; /* Slightly lighter font weight */
  font-size: 0.875rem; /* Smaller font size for navigation items */
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #16A085;
}
