.app-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032C69;
  color: #ffffff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
.li{
  font-size: .688rem;
  padding: 3px 15px;
  font-weight: 600;
  display: flex;
  border-top: solid 4px transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.logo img {
  height: 30px;
  margin-right: 0.5rem;
}

.logo span {
  font-size: 0.875rem;
}

.navigation ul {
  display: flex;
  gap: 1rem;
  list-style-type: none; /* Remove default bullet points */
  margin: 0;
  padding: 0;
}

.navigation li {
  font-size: 0.875rem;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #16A085;
}
